.vs/
DateTimeTest/bin/Debug/
15_Attribute_GetHashCode/obj/
15_Attribute_GetHashCode/bin/
16_Attribute_Custom/bin/
16_Attribute_Custom/obj/
17_Array_Sort/bin/
17_Array_Sort/obj/Debug/
*.cache
*.exe
*.pdb
*.log
*.user
*.filters
*.idb
*.obj
*.tlog
*.pch
*.CopyComplete
*.ilk
18_CSharp7NewFeatures/bin/Debug/System.ValueTuple.xml
18_CSharp7NewFeatures/bin/Debug/System.ValueTuple.dll
18_CSharp7NewFeatures/bin/Debug/18_CSharp7NewFeatures.exe.config
18_CSharp7NewFeatures/obj/
